sphinx == 7.1.0
pydata-sphinx-theme >= 0.13.0
myst-parser >= 2.0.0
flask >= 2.3.0
flask_restful >= 0.3.0
wandb >= 0.15.0
torch >= 2.0.0
regex >= 2023.6.0
numpy >= 1.25
pillow >= 10.0.0
einops >= 0.6.1
